extends layout

block content
  div(class='container')
    h1= title
  div(class='container')
    div(class='panel panel-default')
      div(class='panel-body')
        form(class='form-horizontal', role='form')
          each relay in relays
            div(class='form-group')
              label(class='col-sm-2 control-label') #{relay.name}
              div(class='col-md-4')
                div(class='btn-group')
                  div(class="#{'btn relay-switch ' + (relay.on ? 'btn-success active' : 'btn-default')}", data-relay-pin='#{relay.id}', data-relay-state='on') 
                    | &nbsp;&nbsp;on&nbsp;&nbsp;
                  div(class="#{'btn relay-switch ' + (!relay.on ? 'btn-danger active' : 'btn-default')}", data-relay-pin='#{relay.id}', data-relay-state='off') 
                    | &nbsp;&nbsp;off&nbsp;&nbsp;
