extends layout

block content
  div.container
    div.page-header
      h1= title
    div.panel.panel-default
      div.panel-heading
        h3.panel-title
          | Temperature
      div.panel-body
        h4.temperature
          | ...
    div.panel.panel-default
      div.panel-heading
        h3.panel-title
          | Relays
      div.panel-body
        form.form-horizontal(role='form')
          each relay in relays
            div.form-group
              label.col-xs-12.col-md-2.control-label #{relay.name}
              div.btn-group.col-xs-12.col-md-2
                div(class="#{'btn relay-switch ' + (relay.on ? 'btn-success active' : 'btn-default')}", data-relay-pin='#{relay.id}', data-relay-state='on') 
                  | &nbsp;&nbsp;on&nbsp;&nbsp;
                div(class="#{'btn relay-switch ' + (!relay.on ? 'btn-danger active' : 'btn-default')}", data-relay-pin='#{relay.id}', data-relay-state='off') 
                  | &nbsp;&nbsp;off&nbsp;&nbsp;
